.device-handshake h1 {
    font-size: 100px;
    text-align: center;
    padding-top: 40px;
}

.device-handshake {
    text-align: center;
}

.device-handshake button {
    font-size: 20px;
    padding: 5px 60px;
    height: auto;
    margin-top: 120px;
}
